/*	Default Layout: 1200px.  */

.wrapper {
    width: 1150px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}


/*  mini laptop Layout: 991px.   */

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .wrapper {
        width: 98%;
    }

}








/*		Tablet Layout: 768px.
		   */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        width: 98%;
    }

    .header_top_left ul li {
        display: none;
    }

    .search_feild {
        display: none;
    }

    .header_menu_part {
        width: 80%;
    }

    .header_logo_part {
        width: 20%;
    }

    .about_part_left {
        width: 100%;

    }

    .about_part_right {
        width: 99%;
    }

    .single_card {
        margin-right: 13px
    }

    .all_courses_btn {
        margin: 0 auto;
        padding: 10px 30px;
        display: block;
        margin-bottom: 50px;
    }

    .event_middle {
        width: 38%;
    }

    .regi_left {
        width: 50%;
    }

    .regi_left p {
        font-size: 14px;
        width: 95%;
        margin-left: 5px;
        text-align: center;
        margin-top: 40px;
    }

    .gallery_img {
        width: 31%;
    }
    .banner2_single_item{
        
    margin-right: 5%;
    /*! width: 80%; */
    float: left;
    }

    .banner2_single_icon{
        margin-right: 0px;
    }

    .single_hr_blog {
        margin-left: 1.5vh;
    }

    .left_top_footer {
        width: 32%;
    }

    .middle_top_footer {
        width: 24%;
    }

    .top_footer_social_icon {
        padding-right: 47px;
    }

    .single_client {
        margin-right: 5%;
    }

    .vid_img {

        width: 100%;
    }

    .right_side_blogs {
        display: none;
    }


}





    /*		Mobile Layout: 320px */

    @media only screen and (max-width: 767px) {
        
        
        
        .wrapper{
            width: 100%;
        }
        .header_part{
            display: none;
        }
        .banner_text h4{
            text-align: center;
        }
        .banner_text h1{
            font-size: 35px;
            text-align: center;
        }
        .banner_text p{
            text-align: center;
            font-size: 18px;
        }
        .banner_buttons{
            margin-top:50px;
            margin-left: 220px;
        }
        .about_part_img {
            width: 100%;
            margin-left: 100px;
        }
        .about_part_right h2{
            text-align: center;
        }
        .about_part_right{/*! margin-left: 6px; */width: 98%;margin-top: 50px;} 
        .about_part_right button{
            float: right;
            margin-right: 20px;
            margin-top: 20px;
        }
        .all_courses_btn{margin: 0px 0px 50px 308px;/*! margin-bottom: 50px; */}
        .card_title h2{}
        .single_card{margin-right: 1%;margin-left: 0.75%;width: 98%;}
        .event_title h2{
           
        }
        .event_right img{display: none;}
        .regi_left h2{
            text-align:center;
            font-size: 32px;
            margin-left: 0px;
        }
        .event_middle {width: 98%;/*! float: right; */}
        .event_left {/*! width: ; */margin: 0 29%;}
        .regi_left p{margin-bottom: 20px;width: 98%;margin-left: 0px;margin-top: 20px;}
        .regi_right{
            margin: 30px auto;
            /*! position: absolute; */
            float: none;
            overflow: hidden;
        }
        .gallery_title h2{}
        .gallery_img{
            width: 100%;
            margin-bottom: 20px;
        }
        .right_side_blogs {
            display: none;
        }
        .vid_img{
            width: 100%;
            
        }
        .vid_image{
           
            
        }
        .single_client{
            margin-right:10px;
            width: 100px;
            margin-left:15px;
        }
        .left_top_footer{
            margin-left:5%;
            width: 45%;
        }
        .middle_top_footer{
           /*! margin-left: 100px; */
               /*! margin-top:50px; */
            margin-bottom: 50px;
           width: 98%;
           /*! margin-left: 5%; */
           text-align: center;
           margin-top: 50px;
        }
        .about_part_icon{
            position: absolute;
            top: 100px;
            right: 0;
            transform: translate(50%,50%)
            
        }
        .header_right_icon{
            margin-right: 20px
        }
        
        
        
        
        
        
}



    /*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .wrapper{
            width: 98%;
        }
        .header_menu_part{
            width: 98%;
            padding: 2%;
        }
        .banner_buttons {
            margin-left: 80px;
        }
        .header_logo_part img{
            width: 100%;
            /*! display: block; */
            margin: 10px 0px 10px 130px;
            /*! overflow: clip; */
        }
        .about_part_left img{margin-left: 0px;overflow: hidden;width: 83%;}
        .about_part_icon{}
        .regi_left{width: 98%;}
        .single_hr_blog_left{/*! float: none; *//*! width: 60%; */}
        .single_hr_blog_left_img{width: 100%;margin-left: 5%;}
        .single_hr_blog_right{/*! float: none; *//*! width: 98%; */}
        .left_side_blogs {

    width: 100%;
        }
        .single_hr_blog {
            width: 100%;
            height: auto;
            border-bottom: 1px solid lightGrey;
            overflow: hidden;
            padding: 10px;
        }
        .single_hr_blog_right h2{text-align: center;}
        .single_client {
             margin-right: 41px;
             width: 100px;
             margin-left: 15px;
            }
        .left_top_footer {
  width: 93%;
  text-align: center;
}
        .top_footer_social_icon{
            
    padding-right: 129px;
        }
        .banner2_single_item{
            
    margin-right: 22px;
        }
        
        
        
        
        
          @media only screen and (max-width: 767px)
.middle_top_footer {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 45%;
  margin-left: 5%;
}
        
        .form {
  margin-left: 12%;
}
        
           
}
        
}


    /*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {}